<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jokes</title>
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>Joke of the Day</h1>
    <div class="maincontainer">
      <div class="thecard">
        <div class="thefront">
          <p><%= setup %></p>
        </div>
        <div class="theback">
          <p><%= delivery %></p>
        </div>
      </div>
    </div>
    <button type="button" onclick="window.location.reload();">
      anotha one
    </button>
  </body>
</html>
